
/* Your CSS Code here. */

table{
	width:600px;
/* 	border:1px solid black; */
	border-raduis:10px;
	
	
}
td,th{
	text-align:start;
}
th{
	background-color:blue;
}

.row2,.row4{
	background-color:gray;
}
